<!DOCTYPE html>
<html>
<head>

    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include master/masterpage.ejs%>

<h1><%= title %></h1>

<h3><%=title%></h3>

<p>Welcome to my page my email: ahmadridha@hotmail.com </p>

</body>
</html>
